@model TravelTripProject.Models.Siniflar.Restoranlar
@{
    ViewBag.Title = "YeniRestoran";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>YeniRestoran</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Image)
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Restoran Ekle</button>
</form>